<div class="container-5-information">
<div class="logo-container">
	<img alt="Logo" id="logo-information" src="[resources:logo-SDG.svg]" />
</div>

<div class="information">
	<h2>Sobre nós</h2>

	<h1>Quem somos</h1>

	<p>
	  Lorem ipsum dolor sit amet consectetur. Morbi elementum sociis duis
	  sagittis. A mi mattis sit ut auctor aliquet euismod. Orci dictum varius
	  tortor mauris turpis mattis consectetur dolor viverra.
	</p>

	<p>
	  Lorem ipsum dolor sit amet consectetur. Morbi elementum sociis duis
	  sagittis. A mi mattis sit ut auctor aliquet euismod.
	</p>

	<p class="sub-paragraph">
	  Lorem ipsum dolor sit amet consectetur. Morbi elementum sociis duis
	  sagittis. A mi mattis sit ut auctor aliquet euismod.
	</p>
</div>
</div>