<div class="fragment_2518">
	<div class="slider2518">
		<div class="card2518">
			<lfr-drop-zone></lfr-drop-zone>
		</div>

		<div class="card2518">
			<lfr-drop-zone></lfr-drop-zone>
		</div>

		<div class="card2518">
			<lfr-drop-zone></lfr-drop-zone>
		</div>

		<div class="card2518">
			<lfr-drop-zone></lfr-drop-zone>
		</div>

		<div class="card2518">
			<lfr-drop-zone></lfr-drop-zone>
		</div>

		<div class="card2518">
			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>

	<div class="bottom-bar2518">
		<div class="indicators2518">
			<div class="indicator2518"></div>
			<div class="indicator2518"></div>
			<div class="indicator2518"></div>
			<div class="indicator2518"></div>
			<div class="indicator2518"></div>
			<div class="indicator2518"></div>
		</div>
	</div>
</div>