<div class="fragment_4132">
	<div class="img-cntr4132">
		<img class="img4132" data-lfr-editable-id="01-image" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	</div>

	<div class="content-cntr4132">
		<div class="upper4132">
			<span data-lfr-editable-id="01-text" data-lfr-editable-type="rich-text" class="event4132">Event</span>

			<h4 data-lfr-editable-id="02-text" data-lfr-editable-type="rich-text" class="title4132">Title</h4>

			<p data-lfr-editable-id="03-text" data-lfr-editable-type="rich-text" class="description4132">Description</p>
		</div>

		<div class="lower4132">
			<div class="date-cntr4132">
				<img class="calendar4132" src="[resources:Calendar.png]" />

				<p data-lfr-editable-id="04-text" data-lfr-editable-type="rich-text" class="date4132">23/5</p>
			</div>

			<button data-lfr-editable-id="05-text" data-lfr-editable-type="text" class="btn4132">sign up</button>
		</div>
	</div>
</div>