<div class="fragment_2301">
<div class="slider2301">

		<!-- Card number 1 -->

	<div class="card2301">
		  <lfr-drop-zone></lfr-drop-zone>
		</div>

		<!-- Card number 2 -->

	<div class="card2301">
		  <lfr-drop-zone></lfr-drop-zone>
		</div>

		<!-- Card number 3 -->

	<div class="card2301">
	  <lfr-drop-zone></lfr-drop-zone>
	</div>

		<!-- Card number 4 -->

	<div class="card2301">
		  <lfr-drop-zone></lfr-drop-zone>
		</div>

		<!-- Card number 5 -->

	<div class="card2301">
	  <lfr-drop-zone></lfr-drop-zone>
	</div>

		<!-- Card number 6 -->

	<div class="card2301">
		  <lfr-drop-zone></lfr-drop-zone>
		</div>
</div>

<div class="bottom-bar2301">
<div class="indicators2301">
	<div class="indicator2301"></div>
	<div class="indicator2301"></div>
	<div class="indicator2301"></div>
	<div class="indicator2301"></div>
</div>

<div class="arrow-container2301">
	<button class="arrow2301 left-arrow2301"><img class="arrow-img2301"src="[resources:arrow_back_24dp_FILL0_wght400_GRAD0_opsz24.svg]" /></button>
	<button class="arrow2301 right-arrow2301"><img class="arrow-img2301" src="[resources:arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24.svg]" /></button>
</div>
</div>