.fragment_2301 {
	width: 1260px;
  overflow: hidden;
}

.slider2301 {
  width: 100%;
	display: flex;
	gap: 30px;
  transition: transform 0.5s ease;
}

.card2301 {
  background-color: none;
  width: 400px;
}

.arrow-container2301 {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.arrow2301 {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #093542;
  height: 50px;
  width: 50px;
}

.arrow-img2301 {
  width: 30px;
  height: 30px;
  z-index: -1;
}

.bottom-bar2301 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.indicators2301 {
  display: flex;
  justify-content: center;
}

.indicator2301 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.indicator2301.active {
  background-color: #333;
}


@media (max-width: 1290px) {
	.fragment_2301 {
	  width: 100%;
		min-width: 100%;
	}
		
	.slider2301 {
	  gap: 2%;
		min-width: 100%;
		width: 100%;
}
	
	.card2301{
	  max-width: 32%; 
		min-width: 32%;
	}
	
	lfr-drop-zone {
	  width: 32%;
	}
}

	




