.fragment_1709 {
	
}

.h3_1709{
  color: #88A794; 
	font-size: 28px;
}

.h2_1709{
  color: #092543;
	margin-top: 20px;
}

.container1709{
  display: flex;
	align-items: center;
	justify-content: space-between;
}

.text1709{
  color: #8E8E93;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}


@media (max-width: 576px) {
  .text1709{
  color: #8E8E93;
	font-size: 14px;
}
}