<div class="container-event">
	<div class="navigation-event">
		<div class="filters">
		<div class="location-filter">
			<h3 class="title-filters">Localização</h3>

			<div class="dropdown">
			<div class="select">
				<span class="selected">Projeto Soli Deo Gloria</span>

				<div class="caret">
				<img alt="Dropdown Arrow" src="[resources:down-arrow.svg]" />
				</div>
			  </div>
			<ul class="filter-panel">
				<li class="filter-option">Projeto Soli Deo Gloria</li>
				<li class="filter-option">PIPR</li>
				<li class="filter-option">IPBV</li>
				<li class="filter-option">IPA</li>
			  </ul>
			</div>
		  </div>

		<div class="type-filter">
			<h3 class="title-filters">Tipo</h3>

			<div class="dropdown">
			<div class="select">
				<span class="selected">Aberto</span>

				<div class="caret">
				<img alt="Dropdown Arrow" src="[resources:down-arrow.svg]" />
				</div>
			  </div>
			<ul class="filter-panel">
				<li class="filter-option">Aberto</li>
				<li class="filter-option">Fechado</li>

			  </ul>
			</div>
		  </div>

		<div class="time-filter">
			<h3 class="title-filters">Tempo</h3>

			<button class="according-filters active time-filter-btn">
			  <p class="arrow-first">A qualquer momento</p>
			</button>

			<button class="according-filters time-filter-btn">
			  <p class="arrow-first">Essa semana</p>
			</button>

			<button class="according-filters time-filter-btn">
			  <p class="arrow-first">Esse mês</p>
			</button>

			<button class="according-filters time-filter-btn">
			  <p class="arrow-first">Esse trimestre</p>
			</button>
		  </div>
		</div>
	  </div>
	<div class="list-event">
		<div class="event-1" id="festival-esportivo">
		<div class="calendar">
			<div class="calendar-month">
			  <div class="date-month"><span>JUN</span></div>
			  <span class="day-month">08</span>
			</div>
		  </div>
		<div class="event-information">
			<h3>Festival Esportivo</h3>

			<span>
			  É hora de mostrar seu talento e paixão pelo esporte! Participe do
			  Festival Esportivo e aproveite um dia inesquecível de competições
			  e confraternização.
			</span>
		  </div>
		<div class="category-items">
			<div class="category-item">
			<img alt="Ícone de localizador" src="[resources:map-pin.svg]" />
			  <span class="text-category">Localização</span>
			</div>

			<div class="category-item">
			<img alt="Ícone de trovão" src="[resources:thunder.svg]" />
			  <span class="text-category">Competições</span>
			</div>

			<div class="category-item" id="div-int">
			<div class="number-interest">
				<span class="number-int">12</span>
				<span class="text-category">Interessados</span>
			  </div>
			</div>

			<div class="more-information">
			  <button>
			<img alt="Ícone de seta para a direita" src="[resources:arrow-right.svg]" />
			  </button>
			</div>
		  </div>
		</div>

		<div class="event-1" id="festival-esportivo">
		<div class="calendar">
			<div class="calendar-month">
			  <div class="date-month"><span>JUN</span></div>
			  <span class="day-month">02-06</span>
			</div>
		  </div>
		<div class="event-information">
			<h3>English Camp</h3>

			<span>
			  O English Camp é sua chance de viajar sem sair do lugar! Conheça a
			  cultura americana, faça novos amigos e pratique inglês com nativos
			  dos EUA.
			</span>
		  </div>
		<div class="category-items">
			<div class="category-item">
			<img alt="Ícone de localizador" src="[resources:map-pin.svg]" />
			  <span class="text-category">Localização</span>
			</div>

			<div class="category-item">
			<img alt="Ícone de trovão" src="[resources:thunder.svg]" />
			  <span class="text-category">Competições</span>
			</div>

			<div class="category-item" id="div-int">
			<div class="number-interest">
				<span class="number-int">79</span>
				<span class="text-category">Interessados</span>
			  </div>
			</div>

			<div class="more-information">
			  <button>
			<img alt="Ícone de seta para a direita" src="[resources:arrow-right.svg]" />
			  </button>
			</div>
		  </div>
		</div>

		<div class="event-1" id="festival-esportivo">
		<div class="calendar">
			<div class="calendar-month">
			  <div class="date-month"><span>JUN</span></div>
			  <span class="day-month">21</span>
			</div>
		  </div>
		<div class="event-information">
			<h3>Futuros Homens</h3>

			<span>
			  Vem aí mais uma edição do FUTUROS HOMENS! O tema dessa edição é
			  "Lições de Sobrevivência na Mata Atlântica", corre e garante a sua
			  vaga!
			</span>
		  </div>
		<div class="category-items">
			<div class="category-item">
			<img alt="Ícone de localizador" src="[resources:map-pin.svg]" />
			  <span class="text-category">Localização</span>
			</div>

			<div class="category-item">
			<img alt="Ícone de trovão" src="[resources:thunder.svg]" />
			  <span class="text-category">Competições</span>
			</div>

			<div class="category-item" id="div-int">
			<div class="number-interest">
				<span class="number-int">12</span>
				<span class="text-category">Interessados</span>
			  </div>
			</div>

			<div class="more-information">
			  <button>
			<img alt="Ícone de seta para a direita" src="[resources:arrow-right.svg]" />
			  </button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/002c72e56a.js" />