<div class="new-container" data>
		<div class="main-container">
			<div class="container-text-4">
				<h1 id="questions">Perguntas frequentes</h1>

				<p id="description-questions">Encontre respostas para perguntas comuns sobre nossos cursos, eventos e aluguel do espaço</p>

				<div>
					<button class="button-main">Fale conosco</button>
				</div>
			</div>

			<div class="container-questions">
				<div class="drop">
					<button class="according">
						<h3 data-lfr-editable-id="h3-faq-1" data-lfr-editable-type="rich-text">Como se inscrever?</h3>

						<i class="fa-angle-down fa-solid"></i>
					</button>

					<div class="panel">
						<p data-lfr-editable-id="description-faq-1" data-lfr-editable-type="rich-text" class="description-panel">Para se inscrever em nossos cursos, basta visitar nosso site, escolher o curso de seu interesse e seguir as instruções de inscrição fornecidas.</p>
					</div>
				</div>

				<div class="drop">
					<button class="according">
						<h3 data-lfr-editable-id="h3-faq-2" data-lfr-editable-type="rich-text">Quais são os eventos?</h3>

						<i class="fa-angle-down fa-solid"></i>
					</button>

					<div class="panel">
						<p data-lfr-editable-id="description-faq-2" data-lfr-editable-type="rich-text" class="description-panel">Descrição dos eventos.</p>
					</div>
				</div>

				<div class="drop">
					<button class="according">
						<h3 data-lfr-editable-id="h3-faq-3" data-lfr-editable-type="rich-text">Como alugar?</h3>

						<i class="fa-angle-down fa-solid"></i>
					</button>

					<div class="panel">
						<p data-lfr-editable-id="description-faq-3" data-lfr-editable-type="rich-text" class="description-panel">Informações sobre aluguel.</p>
					</div>
				</div>

				<div class="drop">
					<button class="according">
						<h3 data-lfr-editable-id="h3-faq-4" data-lfr-editable-type="rich-text">Qual o custo?</h3>

						<i class="fa-angle-down fa-solid"></i>
					</button>

					<div class="panel">
						<p data-lfr-editable-id="description-faq-4" data-lfr-editable-type="rich-text"class="description-panel">Informações sobre custos.</p>
					</div>
				</div>

				<div class="drop">
					<button class="according">
						<h3 data-lfr-editable-id="h3-faq-5" data-lfr-editable-type="rich-text">Posso cancelar?</h3>

						<i class="fa-angle-down fa-solid"></i>
					</button>

					<div class="panel">
						<p data-lfr-editable-id="description-faq-5" data-lfr-editable-type="rich-text" class="description-panel">Informações sobre cancelamento.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script crossorigin="anonymous" src="https://kit.fontawesome.com/002c72e56a.js"></script>