<div class="image-slider-container">
<div class="slider">
	<div class="container-text-3">
	  <h1 class="title-2">Galeria de Fotos</h1>

	<p class="p-2">
		Explore nossos eventos anteriores, acampamentos e atividades do
		instituto
	  </p>
	</div>

	<div class="slides">
	<div class="slide">
	<img alt="Image 1" class="gallery-slides" src="[resources:image(2).png]" />
	  </div>
	<div class="slide">
	<img alt="Image 2" class="gallery-slides" src="[resources:image(4).png]" />
	  </div>
	<div class="slide">
	<img alt="Image 3" class="gallery-slides" src="[resources:image(5).png]" />
	  </div>
	<div class="slide">
	<img alt="Image 4" class="gallery-slides" src="[resources:image(7).png]" />
	  </div>
	</div>
</div>

<div class="dotnav">
	<div aria-label="Slide 1" class="dotnav-item" data-slide="0"></div>
	<div aria-label="Slide 2" class="dotnav-item" data-slide="1"></div>
	<div aria-label="Slide 3" class="dotnav-item" data-slide="2"></div>
	<div aria-label="Slide 4" class="dotnav-item" data-slide="3"></div>
</div>
</div>