<div class="fragment_1545">
	<div class="img-container1545">
		<img class="img1545" data-lfr-editable-id="image-01" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	</div>

	<div class="info-container1545">
		<span data-lfr-editable-id="01-event" data-lfr-editable-type="rich-text" class="event1545">Event</span>

		<h3 data-lfr-editable-id="01-text" data-lfr-editable-type="rich-text" class="title1545">Title</h3>

		<p data-lfr-editable-id="02-text" data-lfr-editable-type="rich-text" class="description1545">Description</p>

		<div class="container1545">
		  <p data-lfr-editable-id="03-text" data-lfr-editable-type="rich-text" class="date1545">Date</p>
		  <button data-lfr-editable-id="01-button" data-lfr-editable-type="rich-text" class="btn1545">sign up</button>
	</div>
	</div>
</div>