<div class="fragment_2520">
	<div class="img-cntr2520">
		<img class="img2520" data-lfr-editable-id="01-image" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	</div>

	<div class="content-cntr2520">
		<div class="upper2520">
			<span data-lfr-editable-id="01-text" data-lfr-editable-type="rich-text" class="event2520">Event</span>

			<h4 data-lfr-editable-id="02-text" data-lfr-editable-type="rich-text" class="title2520">Title</h4>

			<p data-lfr-editable-id="03-text" data-lfr-editable-type="rich-text" class="description2520">Description</p>
		</div>

		<div class="lower2520">
			<div class="date-cntr2520">
				<img class="calendar2520" src="[resources:Calendar.png]" />

				<p data-lfr-editable-id="04-text" data-lfr-editable-type="rich-text" class="date2520">23/5</p>
			</div>

			<button data-lfr-editable-id="05-text" data-lfr-editable-type="text" class="btn2520">sign up</button>
		</div>
	</div>
</div>