<div class="newsletter">
<img id="card" src="[resources:mail.png]" /><img />

<div class="container-text-2">
	<h1 id="title-1">
	  Fique informado com <br />
	  nosso newsletter
	</h1>

	<div class="subtext">
	<h2 id="subtitle">
		Receba as últimas atualizações e insights diretamente em sua caixa de
		entrada.
	  </h2>
	</div>

	<div class="email-container">
	<input id="email" placeholder="Escreva seu email" type="texto" />
	  <button class="btn">Enviar</button>
	</div>
</div>

<p class="p-1">
	Ao se inscrever, você concorda com nossos
	<a href="#" class="terms-conditions">Termos e Condições</a>.
</p>
</div>