<div class="cont-event-mobile">
	<div class="filters-mobile">
		<div class="location-filter-mobile">
		  <h3 class="title-filters-mobile">Localização</h3>

		<div class="dropdown-mobile">
			<div class="select-mobile">
			  <span class="selected-mobile">Projeto Soli Deo Gloria</span>

			<div class="caret-mobile">
			<img alt="Dropdown Arrow" src="[resources:down-arrow.svg]" />
			  </div>
			</div>

			<ul class="filter-panel-mobile">
			  <li class="filter-option-mobile">Projeto Soli Deo Gloria</li>
			  <li class="filter-option-mobile">PIPR</li>
			  <li class="filter-option-mobile">IPBV</li>
			  <li class="filter-option-mobile">IPA</li>
			</ul>
		  </div>
		</div>

		<div class="type-filter-mobile">
		  <h3 class="title-filters-mobile">Tipo</h3>

		<div class="dropdown-mobile">
			<div class="select-mobile">
			  <span class="selected-mobile">Aberto</span>

			<div class="caret-mobile">
			<img alt="Dropdown Arrow" src="[resources:down-arrow.svg]" />
			  </div>
			</div>

			<ul class="filter-panel-mobile">
			  <li class="filter-option-mobile">Aberto</li>
			  <li class="filter-option-mobile">Fechado</li>
			</ul>
		  </div>
		</div>

		<h3 class="title-filters-mobile">Tempo</h3>

		<div class="time-filter-mobile">
		<button class="according-filters-mobile active time-filter-btn-mobile">
			<p class="arrow-first-mobile">A qualquer momento</p>
		  </button>
		<button class="according-filters-mobile time-filter-btn-mobile">
			<p class="arrow-first-mobile">Essa semana</p>
		  </button>
		<button class="according-filters-mobile time-filter-btn-mobile">
			<p class="arrow-first-mobile">Esse mês</p>
		  </button>
		<button class="according-filters-mobile time-filter-btn-mobile">
			<p class="arrow-first">Esse trimestre</p>
		  </button>
		</div>
	  </div>

	<div class="list-event-mobile">
		<div class="event-1-mobile" id="festival-esportivo">
		<div class="date-mobile">
			<span class="date-month-mobile">JUN</span>
			<span class="day-month-mobile">08</span>
		  </div>
		<div class="event-information-mobile">
			<h3>Festival Esportivo</h3>

			<span>
			  É hora de mostrar seu talento e paixão pelo esporte! Participe do
			  Festival Esportivo e aproveite um dia inesquecível de competições
			  e confraternização.
			</span>
		  </div>
		<div class="category-items-mobile">
			<div class="category-item-mobile">
		<img alt="Ícone de localizador" src="[resources:map-pin.svg]" />
			  <span class="text-category-mobile">Localização</span>
			</div>

			<div class="category-item-mobile">
		<img alt="Ícone de trovão" src="[resources:thunder.svg]" />
			  <span class="text-category-mobile">Competições</span>
			</div>

			<div class="category-item-mobile" id="div-int">
			<div class="number-interest-mobile">
				<span class="number-int-mobile">12</span>
				<span class="text-category-mobile">Interessados</span>
			  </div>
			</div>
		  </div>
		<div class="more-information-mobile">
			<button>
		<img alt="Ícone de seta para a direita" src="[resources:arrow-right.svg]" />
			</button>
		  </div>
		</div>
	  </div>
	</div>