<div class="fragment_1716">
	<h2 class="h2_1716">
		Conheça nosso time
	</h2>

	<p class="text1716">
		Conheça as pessoas talentosas por trás do nosso centro.
	</p>

	<div class="container1716">
		<div class="card1716">
			<div class="img-container1716">
				<img class="img1716" data-lfr-editable-id="img-01" data-lfr-editable-type="image" src="[resources:Img.png]" />
			 </div>
			<div class="card-content1716">
				 <h4 class="name1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="name-01">Pr. Doug Leaman</h4>
				 <p class="position1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="position-01">Diretor</p>
				 <p class="description1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="description-01">Com mais de 10 anos de experiência em estudos e ensino bíblico.</p>
			 </div>
		</div>

		<div class="card1716">
			<div class="img-container1716">
				<img class="img1716" data-lfr-editable-id="img-02" data-lfr-editable-type="image" src="[resources:Img.png]" />
			 </div>
			<div class="card-content1716">
				 <h4 class="name1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="name-02">Pr. Doug Leaman</h4>
				 <p class="position1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="position-02">Diretor</p>
				 <p class="description1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="description-02">Com mais de 10 anos de experiência em estudos e ensino bíblico.</p>
			 </div>
		</div>

		<div class="card1716">
			<div class="img-container1716">
				<img class="img1716" data-lfr-editable-id="img-03" data-lfr-editable-type="image" src="[resources:Img.png]" />
			 </div>
			<div class="card-content1716">
				 <h4 class="name1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="name-03">Pr. Doug Leaman</h4>
				 <p class="position1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="position-03">Diretor</p>
				 <p class="description1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="description-03">Com mais de 10 anos de experiência em estudos e ensino bíblico.</p>
			 </div>
		</div>

		<div class="card1716">
			<div class="img-container1716">
				<img class="img1716" data-lfr-editable-id="img-04" data-lfr-editable-type="image" src="[resources:Img.png]" />
			 </div>
			<div class="card-content1716">
				 <h4 class="name1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="name-04">Pr. Doug Leaman</h4>
				 <p class="position1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="position-04">Diretor</p>
				 <p class="description1716" data-lfr-editable-type="rich-text" data-lfr-editable-id="description-04">Com mais de 10 anos de experiência em estudos e ensino bíblico.</p>
			 </div>
		</div>
	</div>
</div>