<div class="fragment_1604">
<div class="slider1604">

		<!-- Card number 1 -->

	<div class="card1604">
	<div class="img-container1604">
		<img class="img1604" data-lfr-editable-id="1image-01" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	  </div>
	<div class="card-content1604">
		<div class="subtest1604">
		<span data-lfr-editable-id="1text-01" data-lfr-editable-type="rich-text" class="card-type1604">Event</span>

		<h3 data-lfr-editable-id="1text-02" data-lfr-editable-type="rich-text" class="card-title1604">Title</h3>

		<p data-lfr-editable-id="1text-03" data-lfr-editable-type="rich-text" class="card-description1604">description</p>
	  </div>
		<div class="subtest1604">
		<div class="btn-container1604">
		<div class="date-container1604">
			<img class="calendar1604" src="[resources:Calendar.png]" />

			<p data-lfr-editable-id="1text-04" data-lfr-editable-type="rich-text" class="card-date1604">date</p>
		  </div>
		  <button data-lfr-editable-id="1button-01" data-lfr-editable-type="text" class="card-btn1604">inscreva-se</button>
		</div>
	  </div>
	  </div>
	</div>

		<!-- Card number 2 -->

	<div class="card1604">
	<div class="img-container1604">
		<img class="img1604" data-lfr-editable-id="2image-01" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	  </div>
	<div class="card-content1604">
		<div class="subtest1604">
		<span data-lfr-editable-id="2text-01" data-lfr-editable-type="rich-text" class="card-type1604">Event</span>

		<h3 data-lfr-editable-id="2text-02" data-lfr-editable-type="rich-text" class="card-title1604">Title</h3>

		<p data-lfr-editable-id="2text-03" data-lfr-editable-type="rich-text" class="card-description1604">description</p>
	  </div>
		<div class="subtest1604">
		<div class="btn-container1604">
		<div class="date-container1604">
			<img class="calendar1604" src="[resources:Calendar.png]" />

			<p data-lfr-editable-id="2text-04" data-lfr-editable-type="rich-text" class="card-date1604">date</p>
		  </div>
		  <button data-lfr-editable-id="2button-01" data-lfr-editable-type="text" class="card-btn1604">inscreva-se</button>
		</div>
	  </div>
	  </div>
	</div>

		<!-- Card number 3 -->

	<div class="card1604">
	<div class="img-container1604">
		<img class="img1604" data-lfr-editable-id="3image-01" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	  </div>
	<div class="card-content1604">
		<div class="subtest1604">
		<span data-lfr-editable-id="3text-01" data-lfr-editable-type="rich-text" class="card-type1604">Event</span>

		<h3 data-lfr-editable-id="3text-02" data-lfr-editable-type="rich-text" class="card-title1604">Title</h3>

		<p data-lfr-editable-id="3text-03" data-lfr-editable-type="rich-text" class="card-description1604">description</p>
	  </div>
		<div class="subtest1604">
		<div class="btn-container1604">
		<div class="date-container1604">
			<img class="calendar1604" src="[resources:Calendar.png]" />

			<p data-lfr-editable-id="3text-04" data-lfr-editable-type="rich-text" class="card-date1604">date</p>
		  </div>
		  <button data-lfr-editable-id="3button-01" data-lfr-editable-type="text" class="card-btn1604">inscreva-se</button>
		</div>
	  </div>
	  </div>
	</div>

		<!-- Card number 4 -->

	<div class="card1604">
	<div class="img-container1604">
		<img class="img1604" data-lfr-editable-id="4image-01" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	  </div>
	<div class="card-content1604">
		<div class="subtest1604">
		<span data-lfr-editable-id="4text-01" data-lfr-editable-type="rich-text" class="card-type1604">Event</span>

		<h3 data-lfr-editable-id="4text-02" data-lfr-editable-type="rich-text" class="card-title1604">Title</h3>

		<p data-lfr-editable-id="4text-03" data-lfr-editable-type="rich-text" class="card-description1604">description</p>
	  </div>
		<div class="subtest1604">
		<div class="btn-container1604">
		<div class="date-container1604">
			<img class="calendar1604" src="[resources:Calendar.png]" />

			<p data-lfr-editable-id="4text-04" data-lfr-editable-type="rich-text" class="card-date1604">date</p>
		  </div>
		  <button data-lfr-editable-id="4button-01" data-lfr-editable-type="text" class="card-btn1604">inscreva-se</button>
		</div>
	  </div>
	  </div>
	</div>

		<!-- Card number 5 -->

	<div class="card1604">
	<div class="img-container1604">
		<img class="img1604" data-lfr-editable-id="5image-01" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	  </div>
	<div class="card-content1604">
		<div class="subtest1604">
		<span data-lfr-editable-id="5text-01" data-lfr-editable-type="rich-text" class="card-type1604">Event</span>

		<h3 data-lfr-editable-id="5text-02" data-lfr-editable-type="rich-text" class="card-title1604">Title</h3>

		<p data-lfr-editable-id="5text-03" data-lfr-editable-type="rich-text" class="card-description1604">description</p>
	  </div>
		<div class="subtest1604">
		<div class="btn-container1604">
		<div class="date-container1604">
			<img class="calendar1604" src="[resources:Calendar.png]" />

			<p data-lfr-editable-id="5text-04" data-lfr-editable-type="rich-text" class="card-date1604">date</p>
		  </div>
		  <button data-lfr-editable-id="5button-01" data-lfr-editable-type="text" class="card-btn1604">inscreva-se</button>
		</div>
	  </div>
	  </div>
	</div>

		<!-- Card number 6 -->

	<div class="card1604">
	<div class="img-container1604">
		<img class="img1604" data-lfr-editable-id="6image-01" data-lfr-editable-type="image" src="[resources:Tito 2 2024 - 1 1.png]" />
	  </div>
	<div class="card-content1604">
		<div class="subtest1604">
		<span data-lfr-editable-id="6text-01" data-lfr-editable-type="rich-text" class="card-type1604">Event</span>

		<h3 data-lfr-editable-id="6text-02" data-lfr-editable-type="rich-text" class="card-title1604">Title</h3>

		<p data-lfr-editable-id="6text-03" data-lfr-editable-type="rich-text" class="card-description1604">description</p>
	  </div>
		<div class="subtest1604">
		<div class="btn-container1604">
		<div class="date-container1604">
			<img class="calendar1604" src="[resources:Calendar.png]" />

			<p data-lfr-editable-id="6text-04" data-lfr-editable-type="rich-text" class="card-date1604">date</p>
		  </div>
		  <button data-lfr-editable-id="6button-01" data-lfr-editable-type="text" class="card-btn1604">inscreva-se</button>
		</div>
	  </div>
	  </div>
	</div>
</div>

<div class="bottom-bar1604">
<div class="indicators1604">
	<div class="indicator1604"></div>
	<div class="indicator1604"></div>
	<div class="indicator1604"></div>
	<div class="indicator1604"></div>
		<div class="indicator1604 medium-indicator1604 small-indicator1604"></div>
		<div class="indicator1604 small-indicator1604"></div>
</div>

<div class="arrow-container1604">
	<button class="arrow1604 left-arrow1604"><img class="arrow-img1604"src="[resources:arrow_back_24dp_FILL0_wght400_GRAD0_opsz24.svg]" /></button>
	<button class="arrow1604 right-arrow1604"><img class="arrow-img1604" src="[resources:arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24.svg]" /></button>
</div>
</div>