<div class="fragment_2455">
	<div class="slider2455">
	<div class="card2455">
		  <lfr-drop-zone></lfr-drop-zone>
	</div>

	<div class="card2455">
			<lfr-drop-zone></lfr-drop-zone>
	</div>

	<div class="card2455">
			<lfr-drop-zone></lfr-drop-zone>
	</div>

	<div class="card2455">
			<lfr-drop-zone></lfr-drop-zone>
	</div>

	<div class="card2455">
			<lfr-drop-zone></lfr-drop-zone>
	</div>

	<div class="card2455">
			<lfr-drop-zone></lfr-drop-zone>
	</div>
</div>

<div class="bottom-bar2455">
		<div class="indicators2455">
			<div class="indicator2455"></div>
			<div class="indicator2455"></div>
			<div class="indicator2455"></div>
			<div class="indicator2455"></div>
			<div class="indicator2455"></div>
		</div>
	<div class="arrow-container2455">
			<button class="arrow2455 left-arrow2455"><img class="arrow-img2455" src="[resources:arrow_back_24dp_FILL0_wght400_GRAD0_opsz24.svg]" /></button>
	  <button class="arrow2455 right-arrow2455"><img class="arrow-img2455" src="[resources:arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24.svg]" /></button>
	</div>
</div>
</div>